/*** Quick Searches ***/

.quick-searches {
	text-align:center;
}
.sub-title {
	Font-size: 14px;
    color: #3e3f5e;
    margin-top: 27px;
}
.all-meals {
	/* border:1px solid #e1e1e1; */
	margin-top: 50px;
}
.meal-icon {
	width:100%;
	text-align:center;
	margin-bottom: 5px;
}
.meal-icon img {
	height:30px;
	margin: 0 auto;	
}
.meal-icon img:hover {
	-webkit-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	transform: rotateY(360deg);
	transition: transform 0.8s linear;	
}

.meal-title {
	font-size:14px;
	font-weight:400;
}

.quick-swiper .swiper-pagination-bullet-active {
	background-color: #ff6728ed !important;
  }
  
.quick-swiper .swiper-pagination-bullet {
background-color: #ff692876;
}